dist: trusty

env:
  global:
    - PGPORT=5433

services:
  - postgresql

addons:
  postgresql: '10'
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10

before_script:
  - export RUBYOPT='-W0' # to remove ruby 2.7 warnings
  - cp config/database.yml.travis config/database.yml

language: ruby

rvm:
  - 2.7.0

script:
  - bundle exec rails db:reset db:setup db:migrate
  - bundle exec rspec
  - bundle exec rubocop --config .rubocop.yml

before_install:
  - gem update --system
  - gem install bundler
